# $HOME Directories #
#####################
/aosp
/Battle.net.desktop
/Diablo\ III.desktop
/Diablo\ III
/documents
/download
/games
/gdrive_personal
/gdrive_counseling
/gdrive_k9
/git
/mega
/music
/playlists_android
/playlists_linux
/R
/videos

# Git Repos #
#############
/.conky
/.rakudobrew
/.zef

# Vault Content #
#################
/.rclone.conf
/.bitmonero
/.electron
/.electron-gyp
/.electrum
/.esd_auth
/.ethereum
/.gnupg
/monero-wallet-cli.log
/.pwsafe.dat~
/.shared-ringdb
/.ssh

# Other #
#########
/.cache
/.cache-bk
/.ccache
/.config/BraveSoftware
/.config/chromium
/.gem
/.config/rclone
/Gemfile.lock
/.phoronix-test-suite/installed-tests/pts/build-linux-kernel-1.7.0/
