\# $HOME Directories #
#####################
/.cache-bk
/aosp
/asp
/Desktop
/documents
/downloads
/gdrive_personal
/gdrive_counseling
/gdrive_k9
/git
/mega
/music
/playlists_android
/playlists_linux
/podcast
/R
/recordings
/scripts
/vault
/videos

# Git Repos #
#############
/.conky

# Other #
#########
/.bash_history
/.cache
/.ccache
/.config/BraveSoftware
/.config/chromium
/.config/rclone
/.ecryptfs/Private.sig
/.ecryptfs/wrapped-passphrase
/.gem
/.phoronix-test-suite
/.python_history
/.Rhistory
/Gemfile.lock
