! urxvt
!  full list of options @ ~/.Xresources-commented

! Misc
URxvt*cursorBlink: true
URxvt*cursorUnderline: false
Urxvt*saveLines: 0
!  Improve performace by reducing [deafult 64]

! Native Transparency
URxvt*transparent: true
URxvt*shading: 65
!  0 to 99 darkens, 101 to 200 lightens

! Scrolling
URxvt*scrollBar: false
!URxvt*scrollstyle: rxvt
!  scrollbar style - rxvt (default), palin (most compact), next, or xterm
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Font
!  avoid xft fonts for best performance
!  - if must use xft font, include ":antialias=false" to value
Urxvt*fontBold: 9x15bold
URxvt*font:  9x15
!  9x15 (same as below misc font)
!  -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso8859-1
!  xft:font-name:bold:size=10

! Perl Extensions
!  Disable if performance lag
URxvt*perl-ext:
URxvt*perl-ext-common: default,selection-to-clipboard
!	/usr/lib/urxvt/perl/
!URxvt*url-launcher: /usr/bin/chromium
!URxvt*matcher.button: 1
!URxvt*tabbed.tabbar-fg: 8
!URxvt*tabbed.tabbar-bg: 2
!URxvt*tabbed.tab-fg: 2
!URxvt*tabbed.tab-bg: 8
!    Shift+Down  New tab
!    Shift+Left  Go to tab left
!    Shift+Right Go to tab right
!    Ctrl+Left   Move tab to left
!    Ctrl+Right  Move tab to right
!    Ctrl+d      Close tab

! Colors
URxvt*background: 0
URxvt*foreground: 15
URxvt*colorBD: 1
Urxvt*colorUL: 4
URxvt*cursorColor: 6

! Black
*color0:            #6e6e6e
*color8:            #000000
! Red
*color1:            #ab203a
*color9:            #ab203a
! Green
*color2:            #3aab20
*color10:           #3aab20
! Yellow
*color3:            #ab9120
*color11:           #ab9120
! Blue
*color4:            #203aab
*color12:           #203aab
! Magenta
*color5:            #9120ab
*color13:           #9120ab
! Cyan
*color6:            #008cd5
*color14:           #008cd5
! White
*color7:            #ffffff
*color15:           #ffffff
