{
    "bcn": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "bytecoin-bcn",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "hrUnit": "H",
        "minBalanceTransfer": 20,
        "name": "Bytecoin",
        "orderNumber": 1,
        "precision": 8,
        "server": {
            "ip": "bcn.pool.minergate.com",
            "stratumPort": 45550
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "BCN",
        "withdrawalFee": 0.01,
        "withdrawalMin": 100
    },
    "btc": {
    },
    "devFeeCC": {
        "ip": "xmr.pool.minergate.com",
        "stratumPort": 45700
    },
    "dsh": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "dashcoin",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "hrUnit": "H",
        "minBalanceTransfer": 0.10000000000000001,
        "name": "Dashcoin",
        "orderNumber": 9998,
        "precision": 8,
        "server": {
            "ip": "dsh.pool.minergate.com",
            "merged": {
                "fcn": {
                    "httpPort": 5573,
                    "ip": "fcn-dsh.pool.minergate.com",
                    "stratumPort": 45730
                }
            },
            "stratumPort": 45720
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "DSH",
        "withdrawalFee": 0.001,
        "withdrawalMin": 0.01
    },
    "duck": {
        "blockTime": 240,
        "blocksSolidifyDepth": 10,
        "cmcId": "digitalnote",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "hrUnit": "H",
        "minBalanceTransfer": 1,
        "name": "DigitalNote",
        "orderNumber": 6,
        "precision": 8,
        "server": {
            "ip": "xdn.pool.minergate.com",
            "stratumPort": 45620
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "XDN",
        "withdrawalFee": 0.10000000000000001,
        "withdrawalMin": 1
    },
    "etc": {
        "blockTime": 15,
        "blocksSolidifyDepth": 20,
        "cmcId": "ethereum-classic",
        "family": "ethereum",
        "feePPLNS": 1,
        "hrUnit": "H",
        "minBalanceTransfer": 9.9999999999999995e-07,
        "name": "Ethereum Classic",
        "orderNumber": 2,
        "precision": 12,
        "server": {
            "ip": "etc.pool.minergate.com",
            "stratumPort": 45777
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "ETC",
        "withdrawalFee": 0.00084000000000000003,
        "withdrawalMin": 0.001
    },
    "eth": {
        "blockTime": 15,
        "blocksSolidifyDepth": 20,
        "cmcId": "ethereum",
        "family": "ethereum",
        "feePPLNS": 1,
        "hrUnit": "H",
        "minBalanceTransfer": 9.9999999999999995e-07,
        "name": "Ethereum",
        "orderNumber": 3,
        "precision": 12,
        "server": {
            "ip": "eth.pool.minergate.com",
            "stratumPort": 45791
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "ETH",
        "withdrawalFee": 0.0051999999999999998,
        "withdrawalMin": 0.001
    },
    "fcn": {
        "blockTime": 60,
        "blocksSolidifyDepth": 10,
        "cmcId": "fantomcoin",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "hrUnit": "H",
        "minBalanceTransfer": 1,
        "name": "FantomCoin",
        "orderNumber": 9996,
        "precision": 12,
        "server": {
            "ip": "fcn.pool.minergate.com",
            "stratumPort": 45610
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "FCN",
        "withdrawalFee": 9.9999999999999995e-07,
        "withdrawalMin": 0.01
    },
    "ltc": {
    },
    "mro": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "monero",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "hrUnit": "H",
        "minBalanceTransfer": 0.0050000000000000001,
        "name": "Monero",
        "orderNumber": 4,
        "precision": 12,
        "server": {
            "ip": "xmr.pool.minergate.com",
            "stratumPort": 45700
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "XMR",
        "withdrawType": 0,
        "withdrawalFee": 0.02,
        "withdrawalMin": 0.10000000000000001
    },
    "qcn": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "quazarcoin",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "hrUnit": "H",
        "minBalanceTransfer": 1,
        "name": "QuazarCoin",
        "orderNumber": 9997,
        "precision": 12,
        "server": {
            "ip": "qcn.pool.minergate.com",
            "merged": {
                "fcn": {
                    "httpPort": 5560,
                    "ip": "fcn-qcn.pool.minergate.com",
                    "stratumPort": 45600
                }
            },
            "stratumPort": 45570
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "QCN",
        "withdrawalFee": 0.0050000000000000001,
        "withdrawalMin": 0.01
    },
    "xmo": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "monero-original",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "hrUnit": "H",
        "minBalanceTransfer": 0.001,
        "name": "Monero Original",
        "orderNumber": 5,
        "precision": 12,
        "server": {
            "ip": "xmo.pool.minergate.com",
            "merged": {
                "duck": {
                    "ip": "xdn-xmo.pool.minergate.com",
                    "stratumPort": 45790
                },
                "fcn": {
                    "ip": "fcn-xmo.pool.minergate.com",
                    "stratumPort": 45590
                }
            },
            "stratumPort": 45560
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "XMO",
        "withdrawalFee": 0.02,
        "withdrawalMin": 0.10000000000000001
    },
    "zec": {
        "blockTime": 150,
        "blocksSolidifyDepth": 100,
        "cmcId": "zcash",
        "family": "equihash",
        "feePPLNS": 1,
        "hrUnit": "Sol",
        "minBalanceTransfer": 0.001,
        "name": "Zcash",
        "orderNumber": 7,
        "precision": 8,
        "server": {
            "ip": "zec.pool.minergate.com",
            "stratumPort": 3357
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "ZEC",
        "withdrawalFee": 0.001,
        "withdrawalMin": 0.0001
    }
}
