[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/home/austin/games/diablo3" /usr/bin/wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
