<configuration version="17">
    <folder id="dsiik-p24s4" label="dcim" path="/home/austin/pictures/dcim/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="vg3gc-wu65k" label="documents" path="/home/austin/documents/" type="readonly" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="w7fap-r13bc" label="movies" path="/home/austin/videos/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="ulr19-nz0nh" label="music" path="/home/austin/music/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="wmdoh-chqgh" label="notifications" path="/home/austin/phone/Notifications/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="nq0pi-xjnx0" label="panorama" path="/home/austin/pictures/panorama/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="5zstj-nerte" label="pc_backup" path="/home/austin/gdrive/personal/pc_backup/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="it385-cc8da" label="playlists" path="/home/austin/phone/Playlists/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="y9ima-zhwv0" label="recordings" path="/home/austin/phone/Recordings/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="h2ygn-bzxen" label="ringtones" path="/home/austin/phone/Ringtones/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="04xx0-qn4mu" label="screens_desktop" path="/home/austin/pictures/screens_desktop/" type="readonly" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="mgu19-47x3a" label="screens_phone" path="/home/austin/pictures/screens_phone/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="e9m06-xhfqv" label="titanium" path="/home/austin/phone/TitaniumBackup/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="1z7ik-2nisd" label="twrp" path="/home/austin/phone/TWRP/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <folder id="93hp2-upui5" label="wallpapers" path="/home/austin/pictures/wallpapers/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" introducedBy=""></device>
        <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" introducedBy=""></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <fsync>true</fsync>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
    </folder>
    <device id="KJVYE3L-LHY2UDE-M6BE2OF-FXEOZO3-KNFJZCE-UD553N4-7FH5OPZ-3T6CBAF" name="Nexus 6P" compression="always" introducer="false" skipIntroductionRemovals="false" introducedBy="">
        <address>dynamic</address>
        <paused>false</paused>
    </device>
    <device id="X56APUI-FEDFH4N-RU5I4EF-EOSWOF6-XFNUD66-K2DMQHD-KK2BZ46-2XCE2Q5" name="T530" compression="metadata" introducer="false" skipIntroductionRemovals="false" introducedBy="">
        <address>dynamic</address>
        <paused>false</paused>
    </device>
    <gui enabled="true" tls="false" debugging="false">
        <address>127.0.0.1:8384</address>
        <apikey>vZ73qPPGZSbhS3csJJ87dGmJIh5Fsfrh</apikey>
        <theme>dark</theme>
    </gui>
    <options>
        <listenAddress>default</listenAddress>
        <globalAnnounceServer>default</globalAnnounceServer>
        <globalAnnounceEnabled>true</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21027</localAnnouncePort>
        <localAnnounceMCAddr>[ff12::8384]:21027</localAnnounceMCAddr>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <relaysEnabled>true</relaysEnabled>
        <relayReconnectIntervalM>10</relayReconnectIntervalM>
        <startBrowser>true</startBrowser>
        <natEnabled>true</natEnabled>
        <natLeaseMinutes>60</natLeaseMinutes>
        <natRenewalMinutes>30</natRenewalMinutes>
        <natTimeoutSeconds>10</natTimeoutSeconds>
        <urAccepted>2</urAccepted>
        <urUniqueID>l9iju2wl</urUniqueID>
        <urURL>https://data.syncthing.net/newdata</urURL>
        <urPostInsecurely>false</urPostInsecurely>
        <urInitialDelayS>1800</urInitialDelayS>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>false</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <symlinksEnabled>true</symlinksEnabled>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <minHomeDiskFreePct>1</minHomeDiskFreePct>
        <releasesURL>https://upgrades.syncthing.net/meta.json</releasesURL>
        <overwriteRemoteDeviceNamesOnConnect>false</overwriteRemoteDeviceNamesOnConnect>
        <tempIndexMinBlocks>10</tempIndexMinBlocks>
        <trafficClass>0</trafficClass>
    </options>
</configuration>
